default:
  image: node:lts-alpine

before_script:
  - apt-get update && apt-get install -y libcups2 libdbus-1-3 libexpat1 libfontconfig1 libgbm1 libgcc1 libgconf-2-4 libgdk-pixbuf2.0-0 libglib2.0-0 libgtk-3-0 libnspr4 libpango-1.0-0 libnss3 libxss1 libasound2
  # Download Chrome
  - apk add chromium
  - export CHROME_BIN=/usr/bin/chromium-browser
  - export CHROME_PATH=/usr/lib/chromium/
  # X Server
  - apk add xvfb
  - export DISPLAY=:99
  - Xvfb :99 -screen 0 1024x768x24 > /dev/null 2>&1 &
  - npm i gulp-cli -g
  - npm install

cache:
  key:
    files:
      - package-lock.json
  paths:
   - node_modules

stages:
  - test
  - stg_deploy

test_job:
  stage: test
  
  script:
   - "echo 'Running tests...'"
   - npm run test -- --browsers=Headless_Chrome --no-watch

stg_deploy:
  stage: stg_deploy
  script:
   - "echo 'Deploying application to staging...'"
   - gulp