image: node:latest

before_script:
  - npm install

cache:
  paths:
   - node_modules/

stages:
  - test
  - build

test_job:
  stage: test
  script:
   - echo "Running tests..."
   - npm run test

build_job:
  stage: build
  script:
   - echo "Building application..."
   - gulp