image: node:latest

before_script:
  - apt-get update && apt-get install -y libcups2 libdbus-1-3 libexpat1 libfontconfig1 libgbm1 libgcc1 libgconf-2-4 libgdk-pixbuf2.0-0 libglib2.0-0 libgtk-3-0 libnspr4 libpango-1.0-0 libnss3 libxss1 libasound2
  - npm install

cache:
  paths:
   - node_modules/

stages:
  - test
  - build

test_job:
  stage: test
  script:
   - echo "Running tests..."
   - npm run test --no-sandbox

build_job:
  stage: build
  script:
   - echo "Building application..."
   - gulp